<!--<div class="banner-motto">
  <p>Warning: registration will close on Thursday 8 at 13:00!</p>
  <p>Attention: les inscriptions seront closes Jeudi 8 à 13h!</p>
</div>-->

    <div class="row">
      <div class="col-md-offset-1 col-md-10" style="text-align: center;">
        <a href="/talks.html"><button class="btn btn-primary register-large"
          type="button">
          View the program (including slides)
        </button></a>

        <span style="padding: 3em;"></span>

        <a href="https://www.youtube.com/playlist?list=PLzjFI0G5nSsry3cm_k1tPOi9SRaAXsZAt"><button class="btn btn-primary view-schedule-large"
          type="button">
          Watch videos
          </button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6" style="text-align: center;">
        {% include "partials/mailchimp.html" %}
      </div>
    </div>
