<div class="register-now-stripe">
  {% include "partials/cta.html" %}
</div>

<div class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2>Sponsors</h2>
      </div>

      <div class="col-md-offset-2 col-md-5 col-sm-12">
        <h3>Platinum</h3>

        TBA
      </div>

      <div class="col-md-3 col-sm-12">

        <h3>Gold</h3>

        TBA
      </div>

      <div class="col-md-offset-2 col-md-8 col-sm-12">

        <h3>Silver</h3>

        <a href="http://www.utt.fr/"><img class="silver" src="/static/images/sponsors/utt.png"></a>
      </div>

    </div>
  </div>
</div>
