{#
<div class="register-now-stripe">
  {% include "partials/cta.html" %}
</div>
#}

<div class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2>Sponsors</h2>
      </div>

      <!--
      <div class="col-md-offset-2 col-md-5 col-sm-12">
        <h3>Platinum</h3>

        TBA
      </div>

      <div class="col-md-3 col-sm-12">

        <h3>Gold</h3>

        TBA
      </div>
      -->

      <div class="col-md-offset-2 col-md-8 col-sm-12">

        <h3>Organiser / co-organizers</h3>

        <a href="http://www.systematic-paris-region.org/"><img
            class="gold" src="/static/images/sponsors/systematic.png"></a>

        <a href="http://epita.fr/"><img
          class="gold" src="/static/images/sponsors/epita.png"></a>

        <h3>Platinum</h3>

        <a href="https://microsoft.com/"><img class="gold" src="/static/images/sponsors/microsoft.png"></a>

        <h3>Gold</h3>

        <a href="https://www.wifirst.com/"><img class="gold" src="/static/images/sponsors/wifirst.png"></a>

        <h3>Silver</h3>

        <a href="http://www.abilian.com/"><img class="silver" src="/static/images/sponsors/abilian.png"></a>
        <a href="https://www.dolead.com/"><img class="silver" style="height: 45px;" src="/static/images/sponsors/dolead.svg"></a>
        <a href="http://www.jetbrains.com/"><img class="silver" src="/static/images/sponsors/jetbrains.png"></a>
        <a href="http://www.logilab.fr/"><img class="silver" src="/static/images/sponsors/logilab.png"></a>
        <a href="http://www.sgr-paris.saint-gobain.com/"><img class="silver" src="/static/images/sponsors/saint-gobain.jpg"></a>
        <a href="https://www.stat4decision.com/"><img class="silver" src="/static/images/sponsors/stat4decision.png"></a>

        <!--<a href="http://www.algoo.fr/"><img class="silver" src="/static/images/sponsors/algoo.png"></a>-->
        <!--<a href="http://www.logilab.fr/"><img class="silver" src="/static/images/sponsors/logilab.png"></a>-->
        <!--<a href="http://www.mozilla.com/"><img class="silver" src="/static/images/sponsors/mozilla.png"></a>-->
        <!--<a href="http://www.nexedi.com/"><img class="silver" src="/static/images/sponsors/nexedi.png"></a>-->
        <!--<a href="http://www.sqreen.io/"><img class="silver" src="/static/images/sponsors/sqreen.svg"></a>-->
        <!--<a href="http://www.utt.fr/"><img class="silver" src="/static/images/sponsors/utt.png"></a>-->

        <h3>Media partners</h3>

        <a href="http://www.programmez.com/"><img class="silver" src="/static/images/sponsors/programmez.png"></a>

      </div>


    </div>
  </div>
</div>
