<header>
  <div class="navbg2">
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/" title="Home">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 title="About">About<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/about.html#mission" title="Mission">Mission</a>
                </li>
                <li>
                  <a href="/about.html#history" title="History">History</a>
                </li>
                <li>
                  <a href="/about.html#pc" title="History">Program Commitee</a>
                </li>
                <li>
                  <a href="/about.html#coc" title="Code of Conduct">Code of
                    Conduct</a>
                </li>
                <li>
                  <a href="/about.html#press" title="Press">Press</a>
                </li>
              </ul>
            </li>
            <!--<li>-->
              <!--<a href="/talks.html" title="Talks">Talks and speakers</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="/slides-videos.html" title="Slides and videos">Slides and-->
                <!--videos</a>-->
            <!--</li>-->
            <li>
              <a href="/schedule.html" title="Schedule">Schedule</a>
            </li>
            <li>
              <a href="/talks.html" title="Talks">Talks</a>
            </li>
            <!--<li>-->
              <!--<a href="/talk-details.html" title="Talk details">Talk details</a>-->
            <!--</li>-->
            <li>
              <a href="/speakers.html" title="Speakers">Speakers</a>
            </li>
            <li>
              <a href="/venue.html" title="Venue">Venue</a>
            </li>
            <li>
              <a href="/faq.html" title="FAQ">FAQ</a>
            </li>
            <li>
              <a href="/sponsors.html" title="Sponsors">Sponsors</a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 title="About">Previous editions<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="http://2017.pyparis.org/" title="2017">2017 (PyParis)</a>
                </li>
                <li>
                  <a href="https://pydata.org/paris2016/" title="2016">2016 (PyData Paris)</a>
                </li>
                <li>
                  <a href="http://2015.pydata.fr/" title="2015">2015 (PyData Paris)</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
